* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: beige;
}

h1 {
    background-color: #333;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    gap: 3rem;

}

.choice:hover{
    background-color: #333;
    cursor: pointer;
}

.choice {
    height: 165px;
    width: 165px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in;
}

img {
  height: 150px;
  width: 150px;
  object-fit: fill;
  border-radius: 50%;
}

#userScore,
#computerScore {
  font-size: 2rem;

}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;
}

.msgContainer{
    margin-top: 2rem;
}
#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;   
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 10px;
}
.reset{    
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
  margin-top: 3%;
} 

.hide{
    display: none;
}




